name: Build and Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"

  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
          cache: "yarn"
      - uses: actions/checkout@v3
      - run: yarn

      - run: yarn run ci:lint
      - run: yarn run ci:test
      - run: yarn run ci:build

      # See https://github.com/actions/checkout/blob/main/.github/workflows/check-dist.yml
      - name: Compare the expected and actual build/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol build/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi
